
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 75px;
  }
  
  .custom_heading {
    color: #030404;
  }
  
  .custom_heading span {
    color: #e0884e;
  }
  
  /*header section*/
  .hero_area {
    height: 98vh;
    position: relative;
  }
  
  .hero_area::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #d86c2d;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    background-color: #fdfdfd;
    padding-top: 15px;
  }
  
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .header_section .quote_btn-container a {
    color: #434242;
    text-transform: uppercase;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #434242;
    text-align: center;
    text-transform: uppercase;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .navbar-brand,
  .navbar-brand:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #c76d07;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .navbar-brand img {
    width: 129px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-size: 20px;
    font-weight: 700;
    color: #191919;
    margin-top: 5px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  
  /*end header section*/
  /* slider section */


  .slider_section {
    background-color: #f7ede0;
    padding: 6% 0;
  }
  
  .slider_detail-box h1 {
    color: #f39946;
  
  }
  
  .slider_detail-box h1 span {
    display: inline-block;
    color: #241b46;
    font-weight: bold;
  }
  
  .slider_section {
    background-color: #f7ede0;
    padding: 6% 0;
  }
  
  .slider_detail-box {
    color: #ffffff;
    font-size: 52px;
    margin-bottom: 40px;
  }
  
  .slider_detail-box span {
    display: inline-block;
    color: #241b46;
    font-weight: bold;
  }
  
  .slider_detail-box .large-heading {
    font-size: 4rem; 
    margin: 10px;
  }
  
  .slider_img {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .slider_img img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;;
  }

 
  
  .slider_img:hover img {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  
  
  

  
  .slider_detail-box .btn-box .btn-2:hover {
    background-color: transparent;
    color: #ffffff;
  }
  
  .slider_img-box {
    margin-right: 5%;
  }
  
  .slider_img-box img {
    width: 100%;
  }
  
  
  
  
  
  
  .map_section .form_container {
    position: relative;
    width: 75%;
    z-index: 9;
  }
  
  .map_section .form_container form {
    background-color: rgba(255, 255, 255, 0.98);
    padding: 45px;
    margin: 75px 0;
  }
  
  .map_section .form_container input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #111111;
    padding-top: 35px;
    width: 100%;
  }
  
  .map_section .form_container input.message-box {
    padding-top: 55px;
  }
  
  .map_section .form_container button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #d18410;
    border: 1px solid #141e41;
    color: #ffffff;
    border-radius: 30px;
    width: 100%;
    margin-top: 35px;
  }
  
  .map_section .form_container button:hover {
    background-color: transparent;
    color: #023b48;
  }
  
  .info_section {
    background-color: #0dc3ff;
  }
  
  .info_items {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .info_items .item {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .info_items .item .img-box {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .info_items .item .detail-box {
    margin-top: 5px;
    color: #fff;
  }
  
  .info_items {
    position: relative;
  }
  
  .info_items a {
    position: relative;
  }
  
  .info_items .item .img-box.box-1 {
    background-image: url(../images/location-white.png);
  }
  
  .info_items .item .img-box.box-2 {
    background-image: url(../images/telephone-white.png);
  }
  
  .info_items .item .img-box.box-3 {
    background-image: url(../images/envelope-white.png);
  }
  
  /* footer section*/
  .footer_section {
    background-color: #fbfdfd;
    padding: 20px;
    font-weight: 500;
  }
  
  .footer_section p {
    color: #292929;
    margin: 0;
    text-align: center;
  }
  
  .footer_section a {
    color: #292929;
  }
  
  /* end footer section*/
  /*# sourceMappingURL=style.css.map */

  .about {
    padding: 80px 0;
  }
  
  .p-25 {
    padding: 45px;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .col-6 {
    width: 50%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333333333%;
  }
  
.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.btn-smart {
  background-color: rgb(255, 69, 79);
}
  .about h3 {
    color: rgba(37, 37, 37, 0.7);
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: 700;
  }
  .about h1 {
    font-size: 40px;
    color: #252525;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .about p {
    font-size: 18px;
    color: #8b8b8b;
    font-weight: 300;
  }
  
  .about__btn {
    margin-top: 35px;
  }
  .about__img {
    width: 100%;
    overflow: hidden;
  }
  
  .about__img img {
    width: 100%;
  }

.container h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;

}

.section2 img {
    display: block;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 20px;
}

.section2 p {
  font-size: 15px;
  line-height: 24px;
  color: #6e6e6e;
}

.head-icon h4 {
  font-size: 25px;
  font-weight: 600;
}


.bg-icon {
  background-color: #F69B03;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.our-team-section {
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center; 
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  margin-top: 10px;
  font-size: 18px;
}

.team-member p {
  margin-top: 5px;
  font-size: 16px;
  color: #777;
}
.blogs h2 {
  text-align: center;
}

.container p {
  text-align: center;
  font-size: 15px;
  color: #7b7b7b;
}
 
.blog-image img {
  display: block;
  width: 280px;
  height: 100%;
  border-radius: 20px;
}

.blog-cat {
  background-color: #005c57;
  color: white;
  text-transform: uppercase;
  /* font-size: 14px; */
  width: 130px;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.blog-cat p {
  font-size: 14px;
  font-weight: 500;
  /* display: block; */
  text-align: center;
  margin-bottom: 0;
  color: white;
}

.blog-title h4 {
  font-size: 22px;
  font-weight: 600;
}

.blog-date {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 7px;
}

.blog-date p {
  color: #F69B03;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.blog-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.slider_img img {
  display: block;
  width: 100%;
}

.slider_img.img1 img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.slider_img.img2 img {
  border-radius: 40px;
}

.slider_img.img3 img {
  border-radius: 40%;
}